NODE_ENV=development
MQTT_URL=mqtt://mqtt-broker:1883
MQTT_TOPIC=factory/telemetry
INTERVAL_MS=2000
MQTT_HEARTBEAT_TOPIC=factory/heartbeat
HEARTBEAT_INTERVAL_MS=5000
HEARTBEAT_TIMEOUT_MS=10000

INBOX_DB_PATH=./data/coordinator_inbox.db