NODE_ENV=development

MQTT_URL=mqtt://mqtt-broker:1883
MQTT_TOPIC=factory/telemetry
MQTT_HEARTBEAT_TOPIC=factory/heartbeat

INTERVAL_MS=2000
HEARTBEAT_INTERVAL_MS=5000
HEARTBEAT_TIMEOUT_MS=10000

CORE_REST_URL=http://core-rest-service:3000
CORE_REST_SERVICE_TOKEN=change-me-in-development

INBOX_DB_PATH=./data/coordinator_inbox.db