NODE_ENV=development
MQTT_URL=mqtt://mqtt-broker:1883
MQTT_TOPIC=factory/telemetry
INTERVAL_MS=2000
MQTT_HEARTBEAT_TOPIC=factory/heartbeat
HEARTBEAT_INTERVAL_MS=5000

OUTBOX_DB_PATH=./data/machine_simulator_outbox.db

MACHINE_ID=machine-1
OPERATING_TEMPERATURE_MIN=20
OPERATING_TEMPERATURE_MAX=85
VIBRATION_MIN=0
VIBRATION_MAX=4.5
PRESSURE_MIN=0
PRESSURE_MAX=10
POWER_CONSUMPTION_MIN=0
POWER_CONSUMPTION_MAX=1200
EMISSIONS_MIN=0
EMISSIONS_MAX=80